@page "/Login"
@inject HttpClient client
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage

<AuthorizeView>
    <Authorized>
        <p>You are already logged in.</p>
    </Authorized>
    <NotAuthorized>

        <main class="login-wrapper">
            <div class="app-grid-container">

                <div class="grid-title">
                    <b><h3>Login</h3></b>
                </div>

                <div class="grid-username">
                    <label class="form-label">Username</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Enter your Username" @bind-value="user.Username" />
                </div>

                <div class="grid-email">
                    <label class="form-label">Email</label>
                    <input class="form-control form-control-lg" type="email" placeholder="Enter your Email" @bind-value="user.Email" />
                </div>

                <div class="grid-submit">
                    <SmallButtonComponent Text="Submit" OnClick="@(() => SendEmail(user))" />
                </div>

                <div class="grid-guest">
                    <button type="button" class="btn btn-primary" @onclick="@(() => SendEmailGuest("User"))">Login As Guest Account (User)</button>
                    <button type="button" class="btn btn-primary" @onclick="@(() => SendEmailGuest("Admin"))">Login As Guest Account (Admin)</button>
                    <button type="button" class="btn btn-primary" @onclick="@(() => ResetGuests())">Reset Guests (Confirmation/Status)</button>
                </div>

            </div>
            <div>
                <span style="color: red; font-size: 12px;">@message</span>
            </div>
        </main>

    </NotAuthorized>
</AuthorizeView>

@code {
    UserDTO user = new UserDTO();
    private string message = string.Empty;
    private bool sentCode = false;
    private bool IsUserLoggedIn { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        IsUserLoggedIn = authState.User.Identity.IsAuthenticated;
        if (IsUserLoggedIn == true)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    async Task SendEmail(UserDTO user)
    {
        try
        {
            if (string.IsNullOrEmpty(user.Username) || string.IsNullOrEmpty(user.Email))
            {
                message = "Please fill out the required username and email field";
                return;
            }

            if (sentCode == false)
            {
                var result = await client.PostAsJsonAsync("https://localhost:8000/api/Login/login", user);

                if (result.IsSuccessStatusCode)
                {
                    sentCode = true;

                    var response = await result.Content.ReadFromJsonAsync<AuthResponse>();
                    message = response?.Message ?? "Unknown response";
                }
                else
                {
                    string error = await result.Content.ReadAsStringAsync();
                    message = $"ERROR: {error}";
                }
            }
        }
        catch (Exception ex)
        {
            message = $"An error occurred: {ex.Message}";
        }
    }

    async Task SendEmailGuest(string guestType)
    {
        try
        {
            if (sentCode == false)
            {
                var result = await client.PostAsJsonAsync("https://localhost:8000/api/Login/login", new UserDTO { Username = $"Guest_{guestType}", Email = $"Guest_{guestType}@example.com" });
                Console.WriteLine(result);

                if (result.IsSuccessStatusCode)
                {
                    sentCode = true;

                    var response = await result.Content.ReadFromJsonAsync<AuthResponse>();
                    message = $"{response.Subject} / {response.Contents}";
                    Console.WriteLine(response);

                }
                else
                {
                    string error = await result.Content.ReadAsStringAsync();
                    message = $"ERROR: {error}";
                }
            }
        }
        catch (Exception ex)
        {
            message = $"An error occurred: {ex.Message}";
        }
    }

    async Task ResetGuests()
    {
        try
        {
            var result = await client.PostAsJsonAsync("https://localhost:8000/api/Account/ResetGuest", string.Empty);

            if (result.IsSuccessStatusCode)
            {
                var response = await result.Content.ReadFromJsonAsync<AuthResponse>();
                Console.WriteLine(response);
                message = $"{response.Message}";
            }
            else
            {
                string error = await result.Content.ReadAsStringAsync();
                message = $"ERROR: {error}";
            }
        }
        catch (Exception ex)
        {
            message = $"An error occurred: {ex.Message}";
        }
    }
}